@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Squada+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
  }
 
  body {
      background-color: #fafafa;
  }
  main, header {
    margin: 5px;
  }
  
  main .box {
      overflow-x: scroll;
  }

  /*MENU*/
  nav{
      width: 100%;
      margin: 0 auto;
      background-color: #fafafa;
      position: sticky;
      top: 0px;
  }
  
  /*Delete the puce in front of our list*/
  nav ul{
      list-style-type: none;
  }
  
  /*have our list in a single line and add an espace between the onglet*/
  nav ul li{
      float: left;
      width: 20%;
      text-align: center;
      position: relative;
  
  }
  
  nav ul::after{
      content: "";
      display: table;
      clear: both;
  }
  /*delete the line above the text and when we click it's all the block and not just the text that is clickable*/
  nav a{
      display: block;
      text-decoration: none;
      color: black;
      border-bottom: 2px solid transparent;
      padding: 10px 0px;
  }
  
  /*The thing orange when the user survole the menu*/
  nav a:hover{
      color: orange;
      border-bottom: 2px solid gold;
  }
  
  /*We have our menu but we have to occupy of what we have inside of Diets*/
  .sous{
      display: none;
      box-shadow: 0px 1px 2px #CCC;
      position: absolute;
      width: 100%;
      z-index: 1000;
      background : #fafafa;
  }
  nav > ul li:hover .sous{
      display: block;
  }
  .sous li{
      float: none;
      width: 100%;
      text-align: left;
  }
  .sous a{
      padding: 10px;
      border-bottom: none;
  }
  .sous a:hover{
      border-bottom: none;
      background-color: RGBa(200,200,200,0.1);
  }
  .deroulant > a::after{
      content:" ▼";
      font-size: 12px;
  }
  
 
  
.photo{
  
    height: 20%; 
    width: 100%; 
    background-image : url("../DESIGNfile/diet.png");
    background-repeat: repeat; /* le fond se répète dans toute les direction. (ligne facultative car option par défaut, mais comme ça coute rien de la mettre...) */
    text-align: center;
    padding: 100px;
    display : flex; 
    justify-content : center;
    align-items : center;

 
}
 
/*special style for index page*/

.h1_line{
    text-align: center; 
    font-family : Pattaya;  
    font-size: 45px;
    color :black;  
}

h1{
    text-align: center; 
    font-family : Pattaya; 
    font-size: 60px; 
    border-bottom: 12px solid #000;
    border-color: orange;
}

h2{
    text-align: center; 
    font-family : Roboto; 
}


p{
    text-align: center;
}

/*Slides*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .link{
      text-decoration: none;
      color:orange;
  }

/* SPECIFIC FOR FOOTER SECTION */  

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0); /*rgb(63, 167, 199)*/
    color: white;
    line-height: 200%;
    font-size: 18px;
  }
  
  footer h1
  {
    font-size: 1.5em;
    text-align: center;
    color: white;
    line-height: 200%;
    padding-bottom: 10px;
  }
  
footer ul{
    list-style-type: none;
}
  
  
  
  