@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

body {
    background-color: #fafafa;
}
main, header {
    margin: 5px;
}

main .box {
    overflow-x: scroll;
}

/*MENU*/    
nav{
    width: 100%;
    margin: 0 auto;
    background-color: #fafafa;
    position: sticky;
    top: 0px;
}

/*Delete the puce in front of our list*/
nav ul{
    list-style-type: none;
}

/*have our list in a single line and add an espace between the onglet*/
nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;

}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}
/*delete the line above the text and when we click it's all the block and not just the text that is clickable*/
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

/*The thing orange when the user survole the menu*/
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

/*We have our menu but we have to occupy of what we have inside of Diets*/
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background : #fafafa;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}


.conteneur{
margin: 50px 20px;
height: 1500px;
}

.hero{ /*The whole page*/
display : flex; 
justify-content : center;
}

h1{
    text-align: center; 
    font-family : Pattaya; 
    font-size: 60px; 
    border-bottom: 12px solid #000;
    border-color: orange;
}
    
p{
    text-align: center;
}

/*FORM*/

#label{
    font-family: Verdana;
    color: orange;
    margin: 0;
    padding: 0;
   
}

#title_form{
    text-align: center;
    font-style: italic;
    color:white;
    font-size:x-large;
    font-variant: small-caps;
    line-height:30px;
    background-color:orange; /* La couleur de fond */
}


input[type="text"], input[type="email"], select {
flex-grow: 1;
margin: 4px;
border: none;
border-bottom: 1px solid #cacaca;
padding: 5px;
}

input[type="text"]:invalid, input[type="email"]:invalid {
border: none;
box-shadow: none;
border-bottom: 1px solid #ff5252;
padding: 5px;
}

.box ol li{
    list-style-type: none;
 }

main .box {
    overflow-x: scroll;
} 

.container {
    display: contents;
    justify-content: space-around;
    margin: 16px;
    flex-wrap: wrap;

}

.container.left {
    justify-content: flex-start;

}

.btn {
    background-color:rgb(255, 166, 0);
    color: white;

    font-variant: small-caps;
    font-family: Avenir, sans-serif;
    font-size:large;
    text-align: center;

    border :none;
    margin: 0px 5px;
    padding: 5px 32px;
    float: right;
    
} 

/* SPECIFIC FOR FOOTER SECTION */

.p1{
    margin-left : 10px;
    margin-right: 20px;
    text-align: center;
    font-weight: normal;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0); /*rgb(63, 167, 199)*/
    color: white;
    line-height: 200%;
    font-size: 18px;
  }
  
  footer h1
  {
    font-size: 1.5em;
    text-align: center;
    color: white;
    line-height: 200%;
    padding-bottom: 10px;
  }
  
footer ul{
    list-style-type: none;
}
  
  
  
  